* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Ubuntu";
  margin: 0;
  padding: 0;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#root {
  text-align: center;
  min-width: 375px;
}

.separator {
  width: 100px;
  min-height: 5px;
  border-radius: 5px;
  background-color: var(--text-color);
  transform: translateX(300%);
  opacity: 0;
  transition: transform 0.4s ease-in, opacity 0.4s ease-in;
  transition-delay: 0.1s;
}
.separator.animate {
  transform: translateX(0);
  opacity: 1;
}
